<div class='header' align='center'>
	[ 
		<a href="/welcome/about">About</a> |
		<a href="/gce_regions/">GCE Regions</a> |
		<a href="/welcome/index">Home</a> |
		<a href="/welcome/license">License</a> 
	]
</div>
<hr/>